# Enable Rewrite Engine
RewriteEngine On

# Check if the requested file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect to custom 404 page
RewriteRule . /catering/404.php [L]
